.hero-unit.well
  .logo
    =image_tag("photo-badge.png")
  %p Hello, my name is <b>Bryce Batson</b>. I am freelance junior web developer living in New York and this is... <b>my portfolio</b>.
.container
  .row
    .divider
      %span &diams;<span class="top">&diams;</span>&diams;
    %h2.span12.center
      %i Recent Projects

  .row
    %ul.thumbnails

      %li.span4
        .thumbnail
          = link_to image_tag("danettes-photography.png"),"#", :class => "thumbnail"
          %p Danette's Photography

      %li.span4
        .thumbnail
          = link_to image_tag("my-portfolio.png"), "http://www.bbatson.com", :class => "thumbnail"
          %p My Portfolio

      %li.span4
        .thumbnail
          = link_to image_tag("the-wallers.png"), "http://afternoon-sunrise-8983.herokuapp.com/", :class  => "thumbnail"
          %p The Wallers Family Website (WIP)
    %ul.thumbnails

    .row
      .divider
        %span &diams; &diams;
    .row
      %h2.span12.center
        %i Testmonials

  :javascript
    $(document).ready(function(){
      $('#testimonials').bxSlider({
        auto: true,
        wrapperClass : 'testimonial-wrapper'
      });
    });

  #testimonials.testimonial-wrapper
    %div.well
      %p <b>"</b>Bryce worked with me to get exactly what I was looking for. He was very professional and I couldn't be happier with my site!<b>"</b>
      .author <i>- Danette Duprey</i>

    %div.well
      %p <b>"</b>This space is reserved for the multitude of rave reviews I am going to start compiling<b>"</b>
      .author <i>- Bryce Batson</i>

