$green: #a7c84d;
$blue: #84a6bc;
$navbarBackground: white;
$navbarBackgroundHighlight: white;
$navbarText:#999;
$navbarLinkColor: #999;
$navbarLinkColorHover: $green;
$linkColor:$blue;

@import "bootstrap";


/***************************************
* Default Styling
***************************************/
body{
  padding-top:180px;
  margin-bottom:0px;
  background: url(body_bg.png) repeat top left;
  color:$grayLight;
  font: 14px/1.5 'Josefin Sans', Arial, 'Liberation Sans', FreeSans, sans-serif; color:#9A9A9A;


}
.center{
  text-align:center;
}
/**************************************
* Header Styling
**************************************/
#header{
  list-style:none;
  text-shadow: 0px 1px 1px #fff;
  li{
    display:inline-block;
    width:100px;
    text-align:center;
    border-right:1px solid $grayLight;
    a{
      color:$grayLight;
    }
    a:hover{
      text-decoration:none;
      color:$blue;
    }
  }
  li:last-child{
    border-right:none;
  }
}
.contact_container{
  position:fixed;
  padding-top:30px;
  z-index:9999;
  top:0px;
  left:0px;
  width:auto;
  height:auto;
  display:none;
  textarea{
    height:70px;
  }
}
.toggle{
  display:none;
  position:fixed;
  border:1px solid white;
  top:0px;
  left:0px;
  z-index:9999;
  width:100px;
  cursor:pointer;
  text-align:center;
  background:$blue;
  color:white;
}
.toggle:hover{
  color:black;
  opacity:.5;
  text-decoration:none;
}
/**************************************
* Shadow and Spacer Styling
**************************************/
.divider{
  margin:20px 0 20px 0;
  border-top:2px dashed $grayLight;
  text-align:center;
  font-size:30px;
  span,h4{
    color:$grayLight;
    text-shadow:1px 1px white, -1px -1px #444;
    padding-left:8px;
    padding-right:8px;
    position:relative;
    width:100%;
    top:-0.7em;
    background: url(body_bg.png) repeat top left;
  }
  .top{
    top:-.5em;
    padding:0px;
    font-size:40px;
    color:$blue;
  }
  .bottom{
    top:2em;
    padding:0px;
    font-size:40px;
  }
  h4{
    color:$gray;
  }
}
.hero-unit{
  text-align:center;
  position:relative;
  color:$grayLight;
  p{
    font-style:italic;
    b{
      color:$blue;
      font-size:1.2em;
    }
  }
}
.logo{
  z-index:9999;
  left:50%;
  margin-left:-138px;
  position:absolute;
  top:-170px;
}

.spacer{
  width:100%;
  height:4px;
  background:url(spacer.png);
  margin-bottom:20px;
}

/**************************************
* Miscellaneous Styling
**************************************/

#testimonials{
  color:$grayLight;
  letter-spacing:2px;
  font-style:italic;
}
.thumbnail{
  text-align:center;
}
a.thumbnail:hover {
  border-color:$blue;
}
/**************************************
* Footer Styling
**************************************/
.bottom-shadow{
    background:url(shadow.png) no-repeat;
    background-position:center top;
    height:21px;
}
#footer{
  position:relative;
  padding-top:20px;
  padding-bottom:20px;
  opacity:.8;
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255, 255, 255, 0.6) inset;
  -moz-transition: all 0.1s ease-in 0s;
  .feed{
    position:relative;
    color:$grayLight;
    font-weight:bold;
    border-bottom:2px dashed $grayLight;
    padding-top:8px;
    padding-bottom:8px;
    margin-right:20px;
  }
  .feed:last-child{
    border-bottom:none;
  }
  h4{
    text-transform:uppercase;
  }
  p{
    line-height:.7em;
  }
  p.introduction{
    line-height: 1.8em;
    font-size:13px;
    font-style:italic;
  }
  span{
    color:$blue;
    font-size:18px;
  }
  b{
    font-size:1.1em;
    line-height:2.9em;
  }
  img{
    margin:0 8px 5px 0;
  }

}

#sub-footer{
  padding-top:8px;
  border-top:1px dashed $grayLight;
  width:100%;
  p{
    font-size:11px;
    text-align:center;
  }
}

/**************************************
* Carousel Styling
**************************************/
.testimonial-wrapper{
    width:620px;
    margin:0 auto;
    margin-bottom:30px;
    position:relative;

    .bx-next, .bx-prev{
      position:absolute;
      width:31px;
      height:31px;
      -moz-transition: all 0.2s ease-in-out;  /* FF4+ */
      -o-transition: all 0.2s ease-in-out;  /* Opera 10.5+ */
      -webkit-transition: all 0.2s ease-in-out;  /* Saf3.2+, Chrome */
      -ms-transition: all 0.2s ease-in-out;  /* IE10? */
      transition: all 0.2s ease-in-out;
      background:url(control-arrow.png);
      text-indent:-99999px;
    }

    .bx-prev:hover, .bx-next:hover{
      background:url(control-arrow-on.png);
    }

    .bx-next, .bx-next:hover{
      position:absolute;
      top:48px;
      right:-50px;
      background-position:31px;
    }
    .bx-prev{
      position:absolute;
      top:48px;
      left:-70px;
    }
}
