#footer
  .container
    .row
      .span6
        %h3 Connect With Me
      .span6
        %h3 Twitter
        - @twitter_feed.each do |status|
          .well.feeds
            %span
              = time_ago_in_words(status.created_at)
              ago
            %i= status.text
            = image_tag("twitter-bird.png",class: "twitter-bird")
  %p &copy;2012 Bryce Batson, All Rights Reserved
