.bottom-shadow
#footer
  .container
    .row
      .span4
        %h4 Connect With Me
        %b Bryce Batson
        %br/
        =image_tag 'icon-home.png', :class => 'pull-left'
        %p
          376 Margaret St Apt D-21
        %p
          Plattsburgh, NY 12901
        %br/
        =image_tag 'icon-phone.png', :class => 'pull-left'
        %p
          Phone:
        %p
          802.473.0249
        %br/
        =image_tag 'icon-email.png', :class => 'pull-left'
        %p
          Email:
        %p
          =mail_to "bryce@bbatson.com"
        %br/
        %p
          =link_to image_tag('facebook-off.png', :mouseover => 'facebook-on.png'), 'http://www.facebook.com/bryce.batson.1'
          =link_to image_tag('twitter-off.png', :mouseover => 'twitter-on.png'),'http://twitter.com/BryceBatson1'
      .span4
        %h4 Latest Tweets
        - @twitter_feed.each do |status|
          .feed
            = link_to "#{time_ago_in_words(status.created_at)} ago", "http://twitter.com/BryceBatson1"
            = status.text
      .span4
        %h4 Who am I?
        %p.introduction
          %span "
          I am a junior developer with two years of PHP and MySQL development experience and almost 5 years of HTML experience.
          %span "
#sub-footer
  %p &copy;2012 <a href="#{root_path}" alt="Bryce Batson">Bryce Batson</a>, All Rights Reserved
