#footer
  .container
    .row
      .span4
        %h3 Connect With Me
        %br/
        %b Bryce Batson
        %br/
      .span4
        %h4 LATEST TWEETS
        - @twitter_feed.each do |status|
          .feed
            = link_to "#{time_ago_in_words(status.created_at)} ago", ""
            = status.text
  %p &copy;2012 Bryce Batson, All Rights Reserved
