.row
  .span6.offset6
    %ul#social-links
      %li= image_tag "twitter-off.png", mouseover: "twitter-on.png"
      %li= image_tag "facebook-off.png", mouseover: "facebook-on.png"
      %li= image_tag "rss-off.png", mouseover: "rss-on.png"
