%a.toggle Contact Me <b>+</b>
.contact_container.well
  %p
    =link_to image_tag('facebook-off.png', :mouseover => 'facebook-on.png'), '#'
    =link_to image_tag('twitter-off.png', :mouseover => 'twitter-on.png'),'#'
    =link_to image_tag('rss-off.png',:mouseover => 'rss-on.png'),'#'
  %a.toggle
    Close <b>-</b>
